img {
  width: 100%;
}

.App {
  //background-color: #000000b3;
  background-image: repeating-radial-gradient(gray, black);
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  /* padding-bottom: 100px; */
  color: white;
}

/*Removes the autofill background color*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #303030 inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
}

/*Keeps Sidebar Icons all the same size*/
.svg-inline--fa.fa-w-12 {
  width: 21px;
}
.svg-inline--fa.fa-w-16 {
  width: 21px;
}
.svg-inline--fa.fa-w-18 {
  width: 21px;
}

.pdfpage {
  display: inline-flex;
}

.annoation-layer {
  position: absolute;
  top: 0;
  padding-top: 5rem;
}

.selected-comment {
  color: red;
}

