img {
  width: 100%;
}

.App {
  //background-color: #000000b3;
  background-image: repeating-radial-gradient(gray, black);
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  color: white;
}

.main{
  margin-top: 1.5rem;
}
.btn{
  color: white;

  background-color: #36c4ec;
  border-color: #36c4ec;

  transition: background-color 0.5s ease;
  transition: border-color 0.1s ease;

}
.btn:hover {
  background-color: #3380ce;
  border-color: #3380ce;
}



.form-control::placeholder {
  color: #bbb !important;
}
